In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('posts.csv',index_col='id')

In [3]:
df.head()

,author_id,title,permalink,publish_date,primary_category_id,number_pages,publish_date_val
id,,,,,,,
414164,1232,20 Most Memorable Quotes From Steve Jobs,20-most-memorable-quotes-from-steve-jobs,10/28/15 13:06,NaN,20,42305.54610
414227,79,5 Warren Buffett Approved Dividend Stocks,5-dividend-stocks-approved-by-warren-buffett,10/13/15 7:46,45376,6,42290.32363
415574,1333,The 10 Least Expensive States to Live in the U.S.,the-8-least-expensive-states-to-live-in-the-u-s,9/11/15 10:46,448,11,42258.44867
415891,1232,15 Warren Buffett Quotes for a Scary Stock Market,warren-buffetts-15-most-memorable-quotes,1/15/16 14:31,45376,15,42384.60486
424993,1233,8 Top Grossing Football Movies of All Time,cant-wait-for-the-nfl-here-are-8-top-football-...,11/19/15 18:31,968,8,42327.77153


    What is the question you hope to answer?
        What characteristics make a "sucessful" article?
    What data are you planning to use to answer that question?
        6 months worth of articles, a certain percentage of them did very well on SEO (page views from google)
    What do you know about the data so far?
        Titles containing numbers (particularly the number 5) do very well
        Titles with the word "best" and "worst" also do very well
    Why did you choose this topic?
        This is a simple actionable task that I can easily get data for and continue to build on for a long time.
        
   This is all our organic URL's/titles we use different URL's for then we purchase traffic, this is a major source of interest for the company is where to best buy traffic with what article. My manager is very interested in getting this data for each traffic source. 
   
   Personally what I'm interested in finding out is a mix between content analysis, advertiser analysis (only some data can be collected here) and audience analysis(from google analytics) to connect popular content to loyal users and "elite" advertisers. This is clearly a large undertaking and will likely be an extension of this project after this class.

In [4]:
#df1 = pd.read_csv('Analytics All Web Site Data SEO report 20160121-20160220.csv',index_col='post_id')

In [5]:
#df2 = pd.read_csv('Analytics All Web Site Data SEO report 20160121-20160220 (1).csv',index_col='post_id')

In [6]:
df1 = pd.read_csv('Analytics All Web Site Data SEO report 20150820-20160220 (1).csv',index_col='post_id')

In [7]:
df2 = pd.read_csv('Analytics All Web Site Data SEO report 20150820-20160220.csv',index_col='post_id')

In [8]:
frames = [df1,df2]
df_pv = pd.concat(frames)

In [9]:
#df_pv.info

In [10]:
dfpvada = df_pv.join(df,how='inner')

In [11]:
dfpvada.head()

,Page,Pageviews,author_id,title,permalink,publish_date,primary_category_id,number_pages,publish_date_val
414164,/technology/20-most-memorable-quotes-from-stev...,461,1232,20 Most Memorable Quotes From Steve Jobs,20-most-memorable-quotes-from-steve-jobs,10/28/15 13:06,NaN,20,42305.54610
414164,/technology/20-most-memorable-quotes-from-stev...,"128,983",1232,20 Most Memorable Quotes From Steve Jobs,20-most-memorable-quotes-from-steve-jobs,10/28/15 13:06,NaN,20,42305.54610
414227,/personal-finance/5-dividend-stocks-approved-b...,922,79,5 Warren Buffett Approved Dividend Stocks,5-dividend-stocks-approved-by-warren-buffett,10/13/15 7:46,45376,6,42290.32363
415574,/business/the-8-least-expensive-states-to-live...,"211,440",1333,The 10 Least Expensive States to Live in the U.S.,the-8-least-expensive-states-to-live-in-the-u-s,9/11/15 10:46,448,11,42258.44867
415574,/business/the-8-least-expensive-states-to-live...,921,1333,The 10 Least Expensive States to Live in the U.S.,the-8-least-expensive-states-to-live-in-the-u-s,9/11/15 10:46,448,11,42258.44867

In [12]:
dfpvada1 = dfpvada.drop(['Page', 'title','number_pages','publish_date'], axis=1)

In [13]:
dfpvada1.head()

,Pageviews,author_id,permalink,primary_category_id,publish_date_val
414164,461,1232,20-most-memorable-quotes-from-steve-jobs,NaN,42305.54610
414164,"128,983",1232,20-most-memorable-quotes-from-steve-jobs,NaN,42305.54610
414227,922,79,5-dividend-stocks-approved-by-warren-buffett,45376,42290.32363
415574,"211,440",1333,the-8-least-expensive-states-to-live-in-the-u-s,448,42258.44867
415574,921,1333,the-8-least-expensive-states-to-live-in-the-u-s,448,42258.44867

In [14]:
dfcat = dfpvada1.drop(['author_id', 'permalink','publish_date_val'], axis=1)

In [15]:
dfcat.head()

       Pageviews  primary_category_id
414164       461                  NaN
414164   128,983                  NaN
414227       922                45376
415574   211,440                  448
415574       921                  448

In [16]:
dfcat.shape

(6042, 2)

In [17]:
dfcat1 = dfcat.copy()

In [18]:
dfcat1 = dfcat1.dropna()

In [19]:
dfcat1.shape

(5994, 2)

In [22]:
dfcat1.sort_values(by='primary_category_id').head()

       Pageviews  primary_category_id
521829     1,382                  448
524061     3,685                  448
521829     1,382                  448
482184     1,843                  448
538738       921                  448

In [21]:
dfcat1.head()

       Pageviews  primary_category_id
414227       922                45376
415574   211,440                  448
415574       921                  448
415891     9,213                45376
424993     5,528                  968