In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('posts.csv',index_col='id')

In [6]:
df.head()

,author_id,title,permalink,publish_date,primary_category_id,number_pages,publish_date_val
id,,,,,,,
414164,1232,20 Most Memorable Quotes From Steve Jobs,20-most-memorable-quotes-from-steve-jobs,10/28/15 13:06,NaN,20,42305.54610
414227,79,5 Warren Buffett Approved Dividend Stocks,5-dividend-stocks-approved-by-warren-buffett,10/13/15 7:46,45376,6,42290.32363
415574,1333,The 10 Least Expensive States to Live in the U.S.,the-8-least-expensive-states-to-live-in-the-u-s,9/11/15 10:46,448,11,42258.44867
415891,1232,15 Warren Buffett Quotes for a Scary Stock Market,warren-buffetts-15-most-memorable-quotes,1/15/16 14:31,45376,15,42384.60486
424993,1233,8 Top Grossing Football Movies of All Time,cant-wait-for-the-nfl-here-are-8-top-football-...,11/19/15 18:31,968,8,42327.77153


    What is the question you hope to answer?
        What characteristics make a "sucessful" article?
    What data are you planning to use to answer that question?
        6 months worth of articles, a certain percentage of them did very well on SEO (page views from google)
    What do you know about the data so far?
        Titles containing numbers (particularly the number 5) do very well
        Titles with the word "best" and "worst" also do very well
    Why did you choose this topic?
        This is a simple actionable task that I can easily get data for and continue to build on for a long time.